$bg: rgb(191, 235, 250);
$primary: lightblue;
$danger: salmon;

@import "bootstrap/scss/bootstrap";

body {
  background-color: $bg;
}

.cat-img {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  margin: 25px auto 0 auto;
}
